<h1>Show Task details</h1>

<p>
  <strong>Owner:</strong>
  <%= @task.owner %>
</p>

<p>
  <strong>Public:</strong>
  <%= @task.public_viewable %>
</p>

<p>
  <strong>Public:</strong>
  <%= @task.name %>
</p>
