<%= simple_form_for @subtask, :url => @subtask.new_record? ? url_for(action: 'create') : url_for(action: 'update'), remote: true, :authenticity_token => true do |f| %>
  <p><%= f.input :name, autofocus: true %></p>
  <div id="default_button_div" >
    <p><%= f.button :submit %></p>
  </div>
<% end %>